/* Estil comú per a tots els botons */
.button {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Estils específics per a cada botó */
#btnPilota1 {
    -fx-background-color: #ff0000; /* Vermell */
}

#btnPilota2 {
    -fx-background-color: #0000ff; /* Verd */
}

#btnPilota3 {
    -fx-background-color: #00ff00; /* Blau */
}

#btnPilota4 {
    -fx-background-color: #800080; /* Morat */
}

/* Estil per al botó Sortir */
#btnSortir {
    -fx-background-color: rgba(27, 22, 210, 0.73); /* Gris */
    -fx-text-fill: #ffffff;
}
